/*
light blue: #cbf3f0
turquoise: #2ec4b6
yellow: #ffbf69
*/
body {
    background-color: #2ec4b6;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 95vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.container__box {
    display: flex;
    width: 468px;
    height: 160px;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffbf69;
}
.container__box--1 {
    align-items: flex-end;
}
.container__box--2 {
    justify-content: center;
}
.container__box--3 {
    justify-content: flex-end;
    align-items: center;
}
.container__box--4 {
    justify-content: space-between;
}
.container__box--5 {
    justify-content: space-evenly;
}
.container__box--6 {
    justify-content: center;
    align-items: center;
}
.container__rectangle {
    width: 78px;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    background-color: #cbf3f0;
    color: #ca6702;
    text-align: center;
}
.container__square {
    height: 78px;
}
.container__rectangle--12 {
    align-self: flex-end;
}
.container__rectangle--14 {
    align-self: center;
    height: 64px;
}
.container__rectangle--17 {
    display: flex;
    flex-grow: 0.5;
}